@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .animate-fade-in-up {
    animation: fade-in-up 0.5s ease-out;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.service-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between 50px;
}

.service-item {
  width: 50%; /* Adjust as needed for spacing */
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 60px;
  color: #e9dfce;
}

.service-item-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}
