@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

:root {
  --custom-primary-color: #ff5733;
  --custom-secondary-color: #33ff57;
}

.text-custom-primary {
  color: var(--custom-primary-color);
}

.text-custom-secondary {
  color: var(--custom-secondary-color);
}
